In [23]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv as csv

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory


from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping



import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))
print(os.listdir('../input/titanic/'))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

['gender_submission.csv', 'test.csv', 'train.csv']

In [2]:
#loading the data sets from the csv files
print('--------load train & test file------')
train_dataset = pd.read_csv('../input/titanic/train.csv')
test_dataset = pd.read_csv('../input/titanic/test.csv')

print('train dataset: %s, test dataset %s' %(str(train_dataset.shape), str(test_dataset.shape)) )
train_dataset.head()

--------load train & test file------
train dataset: (891, 12), test dataset (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print('Id is unique.') if train_dataset.PassengerId.nunique() == train_dataset.shape[0] else print('oops')
print('Train and test sets are distinct.') if len(np.intersect1d(train_dataset.PassengerId.values, test_dataset.PassengerId.values))== 0 else print('oops')
# print('We do not need to worry about missing values.') if train_dataset.count().min() == train_dataset.shape[0] and test_dataset.count().min() == test_dataset.shape[0] else print('oops we have nan')

datasetHasNan = False
if train_dataset.count().min() == train_dataset.shape[0] and test_dataset.count().min() == test_dataset.shape[0] :
    print('We do not need to worry about missing values.') 
else:
    datasetHasNan = True
    print('oops we have nan')

Id is unique.
Train and test sets are distinct.
oops we have nan

In [4]:
print('----train dataset column types information-------')
dtype_df = train_dataset.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

----train dataset column types information-------

  Column Type  Count
0       int64      5
1     float64      2
2      object      5

In [5]:
print('----train dataset information-------')
dtype_df

----train dataset information-------

          Count Column Type
0   PassengerId       int64
1      Survived       int64
2        Pclass       int64
3          Name      object
4           Sex      object
5           Age     float64
6         SibSp       int64
7         Parch       int64
8        Ticket      object
9          Fare     float64
10        Cabin      object
11     Embarked      object

In [6]:
#Check for missing data & list them 
if datasetHasNan == True:
    nas = pd.concat([train_dataset.isnull().sum(), test_dataset.isnull().sum()], axis=1, keys=['Train Dataset', 'Test Dataset']) 
    print('Nan in the data sets')
    print(nas[nas.sum(axis=1) > 0])

Nan in the data sets
          Train Dataset  Test Dataset
Age                 177          86.0
Fare                  0           1.0
Cabin               687         327.0
Embarked              2           0.0

In [7]:
# Class vs Survived
print(train_dataset[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False))

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [8]:
# sex vs Survived
print(train_dataset[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False))

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [9]:
# SibSp vs Survived
#Sibling = brother, sister, stepbrother, stepsister
#Spouse = husband, wife (mistresses and fiancés were ignored)
print(train_dataset[["SibSp", "Survived"]].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False))

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [10]:
# Parch vs Survived
#Parent = mother, father
#Child = daughter, son, stepdaughter, stepson
#Some children travelled only with a nanny, therefore parch=0 for them.
print(train_dataset[["Parch", "Survived"]].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False))

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [11]:
# Data sets cleaing, fill nan (null) where needed and delete uneeded columns
print('----Start data cleaning ------------')


#manage Age
train_random_ages = np.random.randint(train_dataset["Age"].mean() - train_dataset["Age"].std(),
                                          train_dataset["Age"].mean() + train_dataset["Age"].std(),
                                          size = train_dataset["Age"].isnull().sum())

test_random_ages = np.random.randint(test_dataset["Age"].mean() - test_dataset["Age"].std(),
                                          test_dataset["Age"].mean() + test_dataset["Age"].std(),
                                          size = test_dataset["Age"].isnull().sum())

train_dataset["Age"][np.isnan(train_dataset["Age"])] = train_random_ages
test_dataset["Age"][np.isnan(test_dataset["Age"])] = test_random_ages
train_dataset['Age'] = train_dataset['Age'].astype(int)
test_dataset['Age']    = test_dataset['Age'].astype(int)

# Embarked 
train_dataset["Embarked"].fillna('S', inplace=True)
test_dataset["Embarked"].fillna('S', inplace=True)
train_dataset['Port'] = train_dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
test_dataset['Port'] = test_dataset['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)
del train_dataset['Embarked']
del test_dataset['Embarked']

# Fare
test_dataset["Fare"].fillna(test_dataset["Fare"].median(), inplace=True)

----Start data cleaning ------------

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [12]:
# Feature that tells whether a passenger had a cabin on the Titanic
train_dataset['Has_Cabin'] = train_dataset["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
test_dataset['Has_Cabin'] = test_dataset["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

# engineer a new Title feature
# group them
full_dataset = [train_dataset, test_dataset]

##engineer the family size feature
for dataset in full_dataset:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
### new try 

# Create new feature IsAlone from FamilySize
for dataset in full_dataset:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
    
##############################


# Get titles from the names
train_dataset['Title'] = train_dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
test_dataset['Title'] = test_dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

for dataset in full_dataset:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')


    
## Create new column "FamilySizeGroup" and assign "Alone", "Small" and "Big"
for dataset in full_dataset:
    dataset['FamilySizeGroup'] = 'Small'
    dataset.loc[dataset['FamilySize'] == 1, 'FamilySizeGroup'] = 'Alone'
    dataset.loc[dataset['FamilySize'] >= 5, 'FamilySizeGroup'] = 'Big'

## Get the average survival rate of different FamilySizes
train_dataset[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean()

for dataset in full_dataset:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
        
for dataset in full_dataset:    
    dataset.loc[ dataset['Age'] <= 14, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 14) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 4

for dataset in full_dataset:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)

In [13]:
# map the new features
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
family_mapping = {"Small": 0, "Alone": 1, "Big": 2}
for dataset in full_dataset:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['FamilySizeGroup'] = dataset['FamilySizeGroup'].map(family_mapping)

# engineer a new  features
for dataset in full_dataset:
    dataset['IsChildandRich'] = 0
    dataset.loc[(dataset['Age'] <= 0) & (dataset['Pclass'] == 1 ),'IsChildandRich'] = 1  
    dataset.loc[(dataset['Age'] <= 0) & (dataset['Pclass'] == 2 ),'IsChildandRich'] = 1  
    

    
# Delete Name column from datasets (No need for them in the analysis)
del train_dataset['Name']
del test_dataset['Name']

del train_dataset['SibSp']
del test_dataset['SibSp']

del train_dataset['Parch']
del test_dataset['Parch']

del train_dataset['FamilySize']
del test_dataset['FamilySize']


del train_dataset['Cabin']
del test_dataset['Cabin']

# Delete Ticket column from datasets  (No need for them in the analysis)
del train_dataset['Ticket']
del test_dataset['Ticket']

del train_dataset['Port']
del test_dataset['Port']


print('----Finish data cleaning ------------')

----Finish data cleaning ------------

In [14]:
print('train dataset: %s, test dataset %s' %(str(train_dataset.shape), str(test_dataset.shape)) )
train_dataset.head()

train dataset: (891, 11), test dataset (418, 10)

,PassengerId,Survived,Pclass,Sex,Age,Fare,Has_Cabin,IsAlone,Title,FamilySizeGroup,IsChildandRich
0,1,0,3,0,1,0,0,0,1,0,0
1,2,1,1,1,2,3,1,0,3,0,0
2,3,1,3,1,1,1,0,1,2,1,0
3,4,1,1,1,2,3,1,0,3,0,0
4,5,0,3,0,2,1,0,1,1,1,0

In [15]:
del train_dataset['PassengerId']

X_train = train_dataset.drop("Survived",axis=1)
Y_train = train_dataset["Survived"]
X_test  = test_dataset.drop("PassengerId",axis=1).copy()

print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)

(891, 9)
(891,)
(418, 9)

In [20]:
#create model
model = Sequential()

#get number of columns in training data
n_cols = X_train.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

In [21]:
#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

In [24]:
#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model.fit(X_train, Y_train, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
23/23 [==============================] - 0s 9ms/step - loss: 2.3642 - val_loss: 1.2133
Epoch 2/30
23/23 [==============================] - 0s 2ms/step - loss: 0.7331 - val_loss: 0.5217
Epoch 3/30
23/23 [==============================] - 0s 3ms/step - loss: 0.4036 - val_loss: 0.3230
Epoch 4/30
23/23 [==============================] - 0s 2ms/step - loss: 0.2849 - val_loss: 0.2525
Epoch 5/30
23/23 [==============================] - 0s 3ms/step - loss: 0.2437 - val_loss: 0.2215
Epoch 6/30
23/23 [==============================] - 0s 2ms/step - loss: 0.2270 - val_loss: 0.2069
Epoch 7/30
23/23 [==============================] - 0s 2ms/step - loss: 0.2163 - val_loss: 0.1979
Epoch 8/30
23/23 [==============================] - 0s 2ms/step - loss: 0.2088 - val_loss: 0.1911
Epoch 9/30
23/23 [==============================] - 0s 3ms/step - loss: 0.2016 - val_loss: 0.1836
Epoch 10/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1953 - val_loss: 0.1812
Epoch 11/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1900 - val_loss: 0.1732
Epoch 12/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1838 - val_loss: 0.1690
Epoch 13/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1789 - val_loss: 0.1665
Epoch 14/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1747 - val_loss: 0.1605
Epoch 15/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1714 - val_loss: 0.1606
Epoch 16/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1685 - val_loss: 0.1560
Epoch 17/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1651 - val_loss: 0.1541
Epoch 18/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1630 - val_loss: 0.1495
Epoch 19/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1606 - val_loss: 0.1476
Epoch 20/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1584 - val_loss: 0.1444
Epoch 21/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1573 - val_loss: 0.1471
Epoch 22/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1549 - val_loss: 0.1420
Epoch 23/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1533 - val_loss: 0.1423
Epoch 24/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1521 - val_loss: 0.1392
Epoch 25/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1508 - val_loss: 0.1403
Epoch 26/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1497 - val_loss: 0.1373
Epoch 27/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1482 - val_loss: 0.1368
Epoch 28/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1492 - val_loss: 0.1318
Epoch 29/30
23/23 [==============================] - 0s 3ms/step - loss: 0.1487 - val_loss: 0.1342
Epoch 30/30
23/23 [==============================] - 0s 2ms/step - loss: 0.1473 - val_loss: 0.1357

In [25]:
#making predictions on out testing data
predictions = model.predict(X_test)

In [30]:
# pred = predictions.reshape(-1)
# print(pred)

[ 0.19236092  0.78237724  0.19954629  0.15520093  0.5487697   0.07715257
  0.53046995  0.12171848  0.5465522   0.10742275  0.19236092  0.15904574
  1.1197127   0.09308524  1.1395719   0.865301    0.19632502  0.13713881
  0.51548237  0.71296793  0.07906875  0.20763536  0.9553679   0.25390407
  0.8221816   0.0787894   0.98897344  0.13713881  0.3949646   0.10742275
  0.09308536  0.10330822  0.7853009   0.7853009   0.51306677  0.13713881
  0.5766199   0.5733988   0.15520093  0.18256135  0.07681204  0.47744587
  0.19236092  0.624584    1.1395719   0.15520093  0.3949646   0.13713881
  1.0841136   0.7853009   0.51306677  0.20001961  0.70251215  0.8190494
  0.20001961  0.15922536  0.19236092  0.24464233  0.09310599  0.9105534
  0.13713881  0.19310401  0.13713886  0.5304697   0.6161156   0.84012115
  0.53046995  0.22386058  0.47744587  0.75793624  0.53046995  0.13713881
  0.5733988   0.47744587  0.9105534   0.55276245  0.15520093  1.0736878
  0.19310401  0.53046995  0.47439584  0.29335383  0.08922394  0.19236092
  0.19632502  0.10742275  0.53046995  0.5733988   0.53046995  0.56723964
  0.5487697   0.13713881  1.1197127   0.15842198  0.28229287  0.13713886
  1.0879543   0.15520093  0.53046995  0.15842198  1.1395719   0.12171848
  0.13713881  0.13713881  0.5487697   0.11774652  0.13713881  0.13713881
  0.15842198  0.33007845  0.08924476  0.53046995  0.9105534   0.53046995
  1.1022708   0.10742275  0.19236092  0.822975    0.45977953  0.865301
  0.7620786   0.15344141  1.1395719   0.13713881  0.13713881  0.6882161
  0.13713886  0.6882164   0.19632502  0.15520093  0.15520093  0.7978665
  0.55075926  0.15344141  0.19236092  0.13713881  0.13713881  0.19310401
  0.5733988  -0.1982894   0.51358724  0.6706247   0.07892877  0.20001961
  0.15904574  0.10742275  0.55276245  0.15520093  0.2822928   0.55129504
  1.1197127   0.13713881  0.06063215  0.57329094  0.24029125  0.13713881
  1.0568444   0.53046995  0.3949647   0.5487696   0.61055905  0.47439584
  0.60850173  0.13713881  0.44591495  0.79131395  0.45977953 -0.07504228
  0.887677    0.5733988   0.13713881  0.13713881  0.06699927  0.19236092
 -0.1982894   0.62939036  0.71159846  0.32658562  1.1062003   1.1022708
  0.19310401  0.37888     1.1197127   0.13713881  1.1197127   0.08924476
  0.70251215  0.06699927  0.3717217   0.19632502  0.1074018   0.1590458
  0.47439584  0.19954629  0.61052096  0.19236092  0.76845807  0.53046995
  0.19310401  0.5896557   0.6700591   0.25980332  0.9635701   0.7772785
  0.19310401  0.2822928   0.61055905  0.19310401  0.9042015   0.13713881
  0.11774652  0.13713881  0.2648345   0.8526859   0.25455776  0.45977953
  0.61055905  0.07906875  1.1022708   0.15842198  0.58824366  0.15520093
  0.77755445  0.13713886  0.8823006   0.79131395  0.13713881  0.53046995
  0.07494873  0.19632502  0.41314065  0.72905654  0.15344141  0.19236092
  0.37888     0.13713881  0.32658562  0.13713881  0.58824366  1.1395719
  0.8823006   0.8580623   0.37888     0.19236092  0.42923525  0.37888
  0.84012115  0.07225814  0.865301    0.79131395  0.7772785   0.15520093
  0.51306677  0.15520093  0.15520126  0.13713886  0.13713881  0.15520093
  0.60850173  0.13713881  0.09310599  0.13713881  0.865301    0.5514942
  0.19310401  0.19236092  0.26816717  0.19236092  0.5766199   0.15520093
  0.45977953  0.13713881  1.1197127   0.6882161   0.13713881  0.70251215
  0.19310401  0.10740183  0.12171848  0.19310401  0.5733988   0.25980332
  0.61055905  0.6962773   0.6962773   0.19236092  0.19236101  0.51306665
  0.24464233  0.15520093  0.35303688  0.53046995  0.19236092  0.9657694
  0.15842198  0.13713881  0.7639083   0.09310599  0.35303688  0.13713881
  0.13713881  0.31269172  0.10740183  0.15520093  0.53046995  1.0736878
  0.51306677  0.25980332  0.32658562  0.57329094  0.15520093  0.13713881
  0.13713881  0.61055905  1.0841136   0.53046995  0.32658562  0.19310401
  0.13713886  0.10330822  0.13713881  0.24464233  0.33007845  0.15904574
  0.6706247   0.13713881  1.0184778   0.22386058  0.12171848  0.19310401
  0.8824242   0.3949646   0.13713881  0.79131395  0.13713881  0.47744587
  0.19310401  0.18731345  0.2648345   0.35880002  0.19310401  0.13713881
 -0.1982894   1.1022708   0.42923525  0.53046995  0.19310401  0.71296793
  0.19310401  0.68435484  1.139572    0.19310406  0.2648345   0.05794173
  0.6962773   0.3090913   1.1022708   0.19236092  0.19236092  0.79131395
  0.24029125  0.88158643  0.84012115  0.15520093  1.1197127   0.5381106
  0.10742275  0.63491553  0.834797    0.19310401  0.13976054  1.0568444
  0.53189963  0.19632502  1.1022708   0.6706247   0.51548237  0.19310401
  0.3365325   0.24029125  0.13713881  0.13713881  0.7421546   0.79131395
  0.19632502  0.62939036  0.13713881  0.19954629  0.13713881  0.15922536
  0.55276245  1.1022708   0.47439584  0.19632502 -0.12173414  1.1197127
  0.13713881  1.1395719   0.13713881  0.13713881  1.0568444   0.10740183
  0.56869143  0.35303688  0.34803548  0.33007845  0.13976054  0.32658562
  0.53046995  0.5514942   0.53046995  1.1395719   0.53046995  0.15842198
  1.33623     0.19236101  0.15842198  0.42923543]

In [31]:
submission = pd.DataFrame({'PassengerId': test_dataset.PassengerId, 'Survived': pred})
submission.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!